.main {
    display: flex;
    width: 100%;
    overflow: visible;
}

button {
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
    font-weight: 500;
}

button::after {
    transition-duration: 0.3s;
    position: absolute;
    content: "";
    width: 100%;
    height: 100px;
    left: 0px;
    background-color: black;
    top: 50px;
    border-radius: 100px;
    z-index: -1;
}

button:hover::after {
    top: -30px;
}

button:active::after {
    background-color: rgb(0, 124, 247);
}

button:hover {
    color: white;
    background-color: transparent;
}

.button-active {
    color: white;
    background-color: rgb(0, 124, 247);
}

.button-inactive {
    background-color: #D9D9D9;
    color: rgb(31, 31, 31);
}

.navigation-menu {
    padding: 10px;
    display: grid;
    gap: 30px;
    align-content: flex-start;
}

.navigation-section {
    display: grid;
    gap: 20px;
}

.navigation-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.navigation-links button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.itg-map {
    height: 100vh;
    width: 1000px;
    background-color: cadetblue;
    padding: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    overflow: scroll;
    position: relative;
}

.itg-map::-webkit-scrollbar {
    display: none;
}

.grabbing {
    cursor: grabbing;
}

.location-group {
    cursor: context-menu;
    padding: 10px;
}

.location-group {
    outline-offset: 10px;
    transition-duration: 0.3s;
}

.location-group text {
    cursor: pointer;
}

.location-group circle {
    transition-duration: 0.3s;
}

.location-group:hover > circle {
    r: 20px;
}

.location-group rect {
    transition-duration: 0.3s;
}

.location-group:hover > rect {
    height: 30px;
    transform: translateY(-5px);
}

.location-description {

}

.location-description a {
    background-color: rgb(0, 124, 247);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: white;
    margin: 10px 0px;
    bottom: -10px;
    width: 170px;
    position: absolute;
}

.location-description a:hover {
    background-color: #0054f1;
}

.layer-bg {
    top: 0px;
    left: 0px;
    transition-duration: 0.3s;
    position: absolute;
    z-index: 1;
    rotate: 90deg;
}

.first-layer {
    top: 0px;
    left: 0px;
    transition-duration: 0.3s;
    position: absolute;
    z-index: 10;
}

.controls {
    position: fixed;
    bottom: 40px;
    display: grid;
    grid-template-columns: 100px 200px;
    gap: 10px;
}

.zoom {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.position {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}